# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
udp-bi-transfer/client/client
udp-bi-transfer/client/recored.txt
udp-bi-transfer/server/recored.txt
udp-bi-transfer/server/server
echo/udp/udp
simple-udp/client/client
uuid-reader/uuid-reader
